.widget-rotator-control-addnew:hover{
    text-decoration: underline;
    cursor: pointer;
}

.rotator_content_separator{
    border-color: #fed;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rotator_content_block{
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom:1px solid #bcbcbc;
}

.delete_icon{
    background-image:url('delete-icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height:20px;
    display: inline-block;
    outline: none;
}

.minizmized::after{
    content:'\f142' !important;
}

.maxizmized::after{
    content:'\f140' !important;
}

.minimize_icon{
    color: rgb(160, 165, 170);
    display: inline-block;
    outline-color: rgb(160, 165, 170);
    transition-duration: 0.05s;
    transition-property: border, background, color;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.minimize_icon::after{
    padding: 12px 12px 11px;
    right: 0;
    content: '\f140';
    border: none;
    background: 0 0;
    font: 400 20px/1 dashicons;
    speak: none;
    display: block;
    padding: 0;
    text-indent: 0;
    text-align: center;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}

.rotator_toolbar{
    float: right;
}

/*text:first-child {*/
    /*display: none;*/
/*}*/

